/*
 * Copyright (c) 2015. The content in this file is Protected by the copyright laws of kenya and owned by Api Craft Technology.
 * Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 * This may be subject to prosecution according to the kenyan law.
 */

/* iCheck plugin Polaris skin
----------------------------------- */
.icheckbox_polaris,
.iradio_polaris {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 29px;
	height: 29px;
	background: url(polaris.png) no-repeat;
	border: none;
	cursor: pointer;
}

.icheckbox_polaris {
	background-position: 0 0;
}

.icheckbox_polaris.hover {
	background-position: -31px 0;
}

.icheckbox_polaris.checked {
	background-position: -62px 0;
}

.icheckbox_polaris.disabled {
	background-position: -93px 0;
	cursor: default;
}

.icheckbox_polaris.checked.disabled {
	background-position: -124px 0;
}

.iradio_polaris {
	background-position: -155px 0;
}

.iradio_polaris.hover {
	background-position: -186px 0;
}

.iradio_polaris.checked {
	background-position: -217px 0;
}

.iradio_polaris.disabled {
	background-position: -248px 0;
	cursor: default;
}

.iradio_polaris.checked.disabled {
	background-position: -279px 0;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
	.icheckbox_polaris,
	.iradio_polaris {
		background-image: url(polaris@2x.png);
		-webkit-background-size: 310px 31px;
		background-size: 310px 31px;
	}
}
