/*
 * Copyright (c) 2015. The content in this file is Protected by the copyright laws of kenya and owned by Api Craft Technology.
 * Reproducing it in any way or using it without permission from Api Craft Technology will be a violation of kenyan copyrights law.
 * This may be subject to prosecution according to the kenyan law.
 */

/*
    Component: alert
------------------------
*/

.alert {
	//Add padding to allow the icon to appear
	padding-left: 30px;
	margin-left: 15px;
	position: relative;
	//Make icons float to the left corner
	> .fa, > .glyphicon {
		position: absolute;
		left: -15px;
		top: -15px;
		width: 35px;
		height: 35px;
		.border-radius(50%);
		line-height: 35px;
		text-align: center;
		background: inherit;
		border: inherit;
	}

}
